.button {
	cursor: pointer;
	border-radius: var(--button-border-radius, 9999px);

	transition:
		background-color 0.2s ease-in-out,
		border-color 0.2s ease-in-out,
		color 0.2s ease-in-out;

	width: var(--button-width, auto);
	height: var(--button-height);

	border: 1.5px solid;
	padding-inline: var(--button-padding);

	border-color: var(--button-border-color, var(--button-background-color));
	background-color: var(--button-background-color);
	color: var(--button-text-color);

	font-size: var(--button-font-size);
	line-height: var(--button-line-height, 100%);
	font-weight: var(--button-font-weight, 600);

	&:hover,
	&--active {
		border-color: var(--button-hover-border-color, var(--button-hover-background-color));
		background-color: var(--button-hover-background-color);
		color: var(--button-hover-text-color);
	}

	&--small {
		--button-font-size: 12px;
		--button-height: 40px;
		--button-padding: 20px;
	}

	&--medium {
		--button-font-size: 14px;
		--button-height: 48px;
		--button-padding: 24px;
	}

	&--large {
		--button-font-size: 16px;
		--button-height: 50px;
		--button-padding: 24px;
	}

	&--text {
		--button-font-size: inherit;
		--button-line-height: inherit;
		--button-font-weight: inherit;
		--button-height: auto;
		--button-padding: 0;
	}

	// PRIMARY
	&--primary {
		--button-background-color: var(--clr-primary-500);
		--button-text-color: var(--clr-white);
		--button-hover-background-color: var(--clr-primary-600);
		--button-hover-text-color: var(--clr-white);
	}

	&--text#{&}--primary {
		--button-background-color: transparent;
		--button-text-color: var(--clr-primary-500);

		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-primary-600);
	}

	&--outline#{&}--primary {
		--button-border-color: var(--clr-primary-500);
		--button-background-color: transparent;
		--button-text-color: var(--clr-primary);

		--button-hover-border-color: var(--clr-primary-600);
		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-primary);
	}

	// SECONDARY
	&--secondary {
		--button-background-color: var(--clr-secondary);
		--button-text-color: var(--clr-white);
		--button-hover-background-color: var(--clr-secondary-500);
		--button-hover-text-color: var(--clr-white);
	}

	&--text#{&}--secondary {
		--button-background-color: transparent;
		--button-text-color: var(--clr-secondary);

		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-secondary-500);
	}

	&--outline#{&}--secondary {
		--button-border-color: var(--clr-secondary);
		--button-background-color: transparent;
		--button-text-color: var(--clr-secondary);

		--button-hover-border-color: var(--clr-secondary-500);
		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-secondary);
	}

	// ERROR
	&--error {
		--button-background-color: var(--clr-error);
		--button-text-color: var(--clr-white);
		--button-hover-background-color: var(--clr-error-600);
		--button-hover-text-color: var(--clr-white);
	}

	&--text#{&}--error {
		--button-background-color: transparent;
		--button-text-color: var(--clr-error);

		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-error-600);
	}

	&--outline#{&}--error {
		--button-border-color: var(--clr-error);
		--button-background-color: transparent;
		--button-text-color: var(--clr-error);

		--button-hover-border-color: var(--clr-error-600);
		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-error);
	}

	// WARNING
	&--warning {
		--button-background-color: var(--clr-warning);
		--button-text-color: var(--clr-black);
		--button-hover-background-color: var(--clr-warning-500);
		--button-hover-text-color: var(--clr-black);
	}

	&--text#{&}--warning {
		--button-background-color: transparent;
		--button-text-color: var(--clr-warning-600);

		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-warning-700);
	}

	&--outline#{&}--warning {
		--button-border-color: var(--clr-warning-600);
		--button-background-color: transparent;
		--button-text-color: var(--clr-warning-600);

		--button-hover-border-color: var(--clr-warning-700);
		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-warning-600);
	}

	// SUCCESS
	&--success {
		--button-background-color: var(--clr-success);
		--button-text-color: var(--clr-white);
		--button-hover-background-color: var(--clr-success-600);
		--button-hover-text-color: var(--clr-white);
	}

	&--text#{&}--success {
		--button-background-color: transparent;
		--button-text-color: var(--clr-success);

		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-success-600);
	}

	&--outline#{&}--success {
		--button-border-color: var(--clr-success);
		--button-background-color: transparent;
		--button-text-color: var(--clr-success);

		--button-hover-border-color: var(--clr-success-600);
		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-success);
	}

	// INFO
	&--info {
		--button-background-color: var(--clr-info);
		--button-text-color: var(--clr-white);
		--button-hover-background-color: var(--clr-info-700);
		--button-hover-text-color: var(--clr-white);
	}

	&--text#{&}--info {
		--button-background-color: transparent;
		--button-text-color: var(--clr-info);

		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-info-700);
	}

	&--outline#{&}--info {
		--button-border-color: var(--clr-info);
		--button-background-color: transparent;
		--button-text-color: var(--clr-info);

		--button-hover-border-color: var(--clr-info-700);
		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-info);
	}

	// LIGHT
	&--light {
		--button-background-color: var(--clr-base-200);
		--button-text-color: var(--clr-black);
		--button-hover-background-color: var(--clr-base-300);
		--button-hover-text-color: var(--clr-black);
	}

	&--text#{&}--light {
		--button-background-color: transparent;
		--button-text-color: var(--clr-base-400);

		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-base-500);
	}

	&--outline#{&}--light {
		--button-border-color: var(--clr-base-300);
		--button-background-color: transparent;
		--button-text-color: var(--clr-black);

		--button-hover-border-color: var(--clr-base-400);
		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-black);
	}

	// DARK
	&--dark {
		--button-background-color: var(--clr-base-800);
		--button-text-color: var(--clr-white);
		--button-hover-background-color: var(--clr-base-700);
		--button-hover-text-color: var(--clr-white);
	}

	&--text#{&}--dark {
		--button-background-color: transparent;
		--button-text-color: var(--clr-base-800);

		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-base-700);
	}

	&--outline#{&}--dark {
		--button-border-color: var(--clr-base-800);
		--button-background-color: transparent;
		--button-text-color: var(--clr-base-800);

		--button-hover-border-color: var(--clr-base-700);
		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-base-800);
	}


	// WHITE
	&--white {
		--button-background-color: var(--clr-white);
		--button-text-color: var(--clr-black);
		--button-hover-background-color: var(--clr-base-50);
		--button-hover-text-color: var(--clr-black);
	}

	&--text#{&}--white {
		--button-background-color: transparent;
		--button-text-color: var(--clr-white);

		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-base-50);
	}

	&--outline#{&}--white {
		--button-border-color: var(--clr-white);
		--button-background-color: transparent;
		--button-text-color: var(--clr-black);

		--button-hover-border-color: var(--clr-base-50);
		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-black);
	}

	// BLACK
	&--black {
		--button-background-color: var(--clr-black);
		--button-text-color: var(--clr-white);
		--button-hover-background-color: var(--clr-base-950);
		--button-hover-text-color: var(--clr-white);
	}

	&--text#{&}--black {
		--button-background-color: transparent;
		--button-text-color: var(--clr-black);

		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-base-800);
	}

	&--outline#{&}--black {
		--button-border-color: var(--clr-black);
		--button-background-color: transparent;
		--button-text-color: var(--clr-black);

		--button-hover-border-color: var(--clr-base-900);
		--button-hover-background-color: transparent;
		--button-hover-text-color: var(--clr-black);
	}
}
