$font-primary: "inter", Arial, sans-serif;

:root {

	//Primary
	--clr-base-50: #FAFAFA;
	--clr-base-100: #F5F5F5;
	--clr-base-200: #EEEEEE;
	--clr-base-300: #E0E0E0;
	--clr-base-400: #BDBDBD;
	--clr-base-500: #9E9E9E;
	--clr-base-600: #757575;
	--clr-base-700: #616161;
	--clr-base-800: #424242;
	--clr-base-900: #212121;

	--clr-white: #ffffff;
	--clr-black: #000000;
	--clr-disabled: var(--clr-base-30);

	//Accent
	--clr-primary-50: #FFF3E0;
	--clr-primary-100: #FFDFB1;
	--clr-primary-200: #FFCA7F;
	--clr-primary-300: #FFB44C;
	--clr-primary-400: #FFA424;
	--clr-primary-500: #FF9400;
	--clr-primary-600: #FF8A00;
	--clr-primary-700: #F97802;
	--clr-primary-800: #F36703;
	--clr-primary-900: #EA4B04;
	--clr-primary: var(--clr-primary-600);

	--clr-secondary-50: #f7e3ff;
	--clr-secondary-100: #e9bafe;
	--clr-secondary-200: #da89fe;
	--clr-secondary-300: #da89fe;
	--clr-secondary-400: #bb00ff;
	--clr-secondary-500: #ac00fd;
	--clr-secondary-600: #9700f8;
	--clr-secondary-700: #7800f3;
	--clr-secondary-800: #5800f1;
	--clr-secondary-900: #0000e5;
	--clr-secondary: var(--clr-secondary-400);

	//states
	--clr-error-50: #FFE7E6;
	--clr-error-100: #FFC8B8;
	--clr-error-200: #FFA28A;
	--clr-error-300: #FF7A5B;
	--clr-error-400: #FF5636;
	--clr-error-500: #FF240C;
	--clr-error-600: #FF1A07;
	--clr-error-700: #FF0800;
	--clr-error-800: #F10000;
	--clr-error-900: #DA0000;
	--clr-error: var(--clr-error-700);

	--clr-warning-50: #ffffe6;
	--clr-warning-100: #fcfdc0;
	--clr-warning-200: #f9fa93;
	--clr-warning-300: #f5f662;
	--clr-warning-400: #f0f234;
	--clr-warning-500: #ffff00;
	--clr-warning-600: #ffeb00;
	--clr-warning-700: #ffd100;
	--clr-warning-800: #ffb700;
	--clr-warning-900: #ff8a00;
	--clr-warning: var(--clr-warning-700);

	--clr-success-50: #E3FFEC;
	--clr-success-100: #BAFFCF;
	--clr-success-200: #84FFAE;
	--clr-success-300: #00FF88;
	--clr-success-400: #00FB66;
	--clr-success-500: #00F44E;
	--clr-success-600: #00E242;
	--clr-success-700: #00CE33;
	--clr-success-800: #00BB26;
	--clr-success-900: #009909;
	--clr-success: var(--clr-success-700);

	--clr-info-50: #E2F3FF;
	--clr-info-100: #BAE0FF;
	--clr-info-200: #8BCEFF;
	--clr-info-300: #53BAFF;
	--clr-info-400: #14AAFF;
	--clr-info-500: #009AFF;
	--clr-info-600: #008BFF;
	--clr-info-700: #0077FF;
	--clr-info-800: #1564EC;
	--clr-info-900: #2242CD;
	--clr-info: var(--clr-info-700);

}
