$font-primary: "inter", Arial, sans-serif;

:root {

	//Primary
	--clr-base-50: #f6f8f7;
	--clr-base-100: #eef0ef;
	--clr-base-200: #e3e5e4;
	--clr-base-300: #d1d3d2;
	--clr-base-400: #adaead;
	--clr-base-500: #8c8e8d;
	--clr-base-600: #646665;
	--clr-base-700: #515352;
	--clr-base-800: #333534;
	--clr-base-900: #141515;

	--clr-white: #ffffff;
	--clr-black: #000000;
	--clr-disabled: var(--clr-base-300);

	//Accent
	--clr-primary-50: #fbf0e4;
	--clr-primary-100: #f7d9bd;
	--clr-primary-200: #f1c194;
	--clr-primary-300: #eea869;
	--clr-primary-400: #ee954b;
	--clr-primary-500: #eb8439;
	--clr-primary-600: #e67a37;
	--clr-primary-700: #de6b34;
	--clr-primary-800: #d65d31;
	--clr-primary-900: #cb452b;
	--clr-primary: var(--clr-primary-500);

	--clr-secondary-50: #fbe5f1;
	--clr-secondary-100: #f5bedc;
	--clr-secondary-200: #f194c4;
	--clr-secondary-300: #ef69ac;
	--clr-secondary-400: #ed4897;
	--clr-secondary-500: #ee2683;
	--clr-secondary-600: #db257e;
	--clr-secondary-700: #c42476;
	--clr-secondary-800: #ae2270;
	--clr-secondary-900: #871e64;
	--clr-secondary: var(--clr-secondary-500);

	//states
	--clr-error-50: #ffeaed;
	--clr-error-100: #ffcad0;
	--clr-error-200: #f19496;
	--clr-error-300: #e66a6d;
	--clr-error-400: #ef474a;
	--clr-error-500: #f2332f;
	--clr-error-600: #e3272e;
	--clr-error-700: #d21b28;
	--clr-error-800: #c51121;
	--clr-error-900: #b50015;
	--clr-error: var(--clr-error-500);

	--clr-warning-50: #fbfce5;
	--clr-warning-100: #f7f6bf;
	--clr-warning-200: #f1ef94;
	--clr-warning-300: #ece969;
	--clr-warning-400: #e8e548;
	--clr-warning-500: #e5e022;
	--clr-warning-600: #e5ce1a;
	--clr-warning-700: #e5b70a;
	--clr-warning-800: #e49f00;
	--clr-warning-900: #e17700;
	--clr-warning: var(--clr-warning-500);

	--clr-success-50: #eefded;
	--clr-success-100: #d4fad2;
	--clr-success-200: #b6f6b4;
	--clr-success-300: #96f194;
	--clr-success-400: #78ec7a;
	--clr-success-500: #60e665;
	--clr-success-600: #50d55c;
	--clr-success-700: #37bf51;
	--clr-success-800: #1caa47;
	--clr-success-900: #008635;
	--clr-success: var(--clr-success-500);

	--clr-info-50: #e4fcfb;
	--clr-info-100: #bdf6f4;
	--clr-info-200: #94f1ef;
	--clr-info-300: #6eeaeb;
	--clr-info-400: #57e4e6;
	--clr-info-500: #4bdee5;
	--clr-info-600: #46ccd2;
	--clr-info-700: #41b5b7;
	--clr-info-800: #3ca1a0;
	--clr-info-900: #337c75;
	--clr-info: var(--clr-info-500);

}
