:root{
	--clr-base-50: #f6f8f8;
	--clr-base-100: #edf1f1;
	--clr-base-200: #d7e0df;
	--clr-base-300: #b5c4c3;
	--clr-base-400: #8ca4a1;
	--clr-base-500: #6e8986;
	--clr-base-600: #587170;
	--clr-base-700: #485c5b;
	--clr-base-800: #3e4e4e;
	--clr-base-900: #374342;
	--clr-base-950: #242d2d;

	--clr-white: #ffffff;
	--clr-black: #000000;
	--clr-disabled: var(--clr-base-300);

	--clr-primary-50:#fffbec;
	--clr-primary-100:#fff6d3;
	--clr-primary-200:#ffe9a5;
	--clr-primary-300:#ffd76d;
	--clr-primary-400:#ffba32;
	--clr-primary-500:#ffa20a;
	--clr-primary-600:#ff8a00;
	--clr-primary-700:#cc6502;
	--clr-primary-800:#a14e0b;
	--clr-primary-900:#82410c;
	--clr-primary-950:#461f04;
	--clr-primary: var(--clr-primary-600);


    --clr-secondary-50: #fff3fd;
    --clr-secondary-100: #ffe7fb;
    --clr-secondary-200: #ffcef7;
    --clr-secondary-300: #ffa7ec;
    --clr-secondary-400: #ff7ae2;
    --clr-secondary-500: #f73ece;
    --clr-secondary-600: #db1eae;
    --clr-secondary-700: #b6158c;
    --clr-secondary-800: #951371;
    --clr-secondary-900: #79165b;
    --clr-secondary-950: #510139;
	--clr-secondary: var(--clr-secondary-400);


	--clr-error-50: #fff0f2;
	--clr-error-100: #ffdde0;
	--clr-error-200: #ffc0c6;
	--clr-error-300: #ff949f;
	--clr-error-400: #ff5768;
	--clr-error-500: #ff2339;
	--clr-error-600: #ff142c;
	--clr-error-700: #d70016;
	--clr-error-800: #b10315;
	--clr-error-900: #920a18;
	--clr-error-950: #500008;
	--clr-error: var(--clr-error-500);

	--clr-warning-50: #fcfee8;
	--clr-warning-100: #f9ffc2;
	--clr-warning-200: #f6ff87;
	--clr-warning-300: #f8ff43;
	--clr-warning-400: #fffb0a;
	--clr-warning-500: #efe203;
	--clr-warning-600: #ceb200;
	--clr-warning-700: #a48104;
	--clr-warning-800: #88640b;
	--clr-warning-900: #735110;
	--clr-warning-950: #432b05;
	--clr-warning: var(--clr-warning-400);

	--clr-success-50: #f0fdf0;
	--clr-success-100: #dbfddc;
	--clr-success-200: #b9f9bb;
	--clr-success-300: #83f287;
	--clr-success-400: #60e665;
	--clr-success-500: #1ec925;
	--clr-success-600: #12a718;
	--clr-success-700: #128317;
	--clr-success-800: #146718;
	--clr-success-900: #125517;
	--clr-success-950: #042f08;
	--clr-success: var(--clr-success-500);

	--clr-info-50: #edfaff;
	--clr-info-100: #d6f1ff;
	--clr-info-200: #b5e9ff;
	--clr-info-300: #83dcff;
	--clr-info-400: #48c7ff;
	--clr-info-500: #1ea7ff;
	--clr-info-600: #0689ff;
	--clr-info-700: #0075ff;
	--clr-info-800: #0859c5;
	--clr-info-900: #0d4e9b;
	--clr-info-950: #0e305d;
	--clr-info: var(--clr-info-600);
}