$font-primary: "inter", Arial, sans-serif;

:root {
	/*
        * The names of these colours a ambiguous. 
        * This is because the end user will be able to edit the colours, via the admin area, to match their brand.
        */

	//Primary
	--clr-base-0: #ffffff;
	--clr-base-10: #ffffff;
	--clr-base-20: #fafafa;
	--clr-base-30: #f0f0f0;
	--clr-base-40: #dedede;
	--clr-base-50: #9a9f9a;
	--clr-base-60: #717671;
	--clr-base-70: #5d625d;
	--clr-base-80: #3f433f;
	--clr-base-90: #1e221e;

	--clr-white: #ffffff;
	--clr-black: #000000;
	--clr-disabled: var(--clr-base-30);

	//Accent
	--clr-accent-primary-0: #fcf3ff;
	--clr-accent-primary-10: #f8e1ff;
	--clr-accent-primary-20: #f6ccff;
	--clr-accent-primary-30: #f2b2ff;
	--clr-accent-primary-40: #ec9bff;
	--clr-accent-primary-50: #e785ff;
	--clr-accent-primary-60: #dc7cfa;
	--clr-accent-primary-70: #cd71ef;
	--clr-accent-primary-80: #c36ae7;
	--clr-accent-primary-90: #b15cd8;
	--clr-accent-primary: var(--clr-accent-primary-0);

	--clr-accent-secondary-0: #f3fbf2;
	--clr-accent-secondary-10: #def6da;
	--clr-accent-secondary-20: #c6f1c0;
	--clr-accent-secondary-30: #adeba5;
	--clr-accent-secondary-40: #98e58f;
	--clr-accent-secondary-50: #85e07a;
	--clr-accent-secondary-60: #77ce70;
	--clr-accent-secondary-70: #64b964;
	--clr-accent-secondary-80: #53a459;
	--clr-accent-secondary-90: #338045;
	--clr-accent-secondary: var(--clr-accent-secondary-0);

	--primary-background-gradient: linear-gradient(
		243.18deg,
		var(--clr-accent-primary) 0%,
		var(--clr-accent-secondary) 100%
	);

	//states
	--clr-error-0: #fbe5eb;
	--clr-error-10: #f7bdcc;
	--clr-error-20: #f293ab;
	--clr-error-30: #ec698b;
	--clr-error-40: #e64d73;
	--clr-error-50: #e1385d;
	--clr-error-60: #d0345a;
	--clr-error-70: #bb2f55;
	--clr-error-80: #a62a51;
	--clr-error-90: #812349;
	--clr-error: var(--clr-error-50);

	--clr-warning-0: #fff8e2;
	--clr-warning-10: #ffecb6;
	--clr-warning-20: #ffe088;
	--clr-warning-30: #ffd559;
	--clr-warning-40: #ffca3a;
	--clr-warning-50: #ffc22a;
	--clr-warning-60: #ffb426;
	--clr-warning-70: #ffa124;
	--clr-warning-80: #ff9123;
	--clr-warning-90: #ff7221;
	--clr-warning: var(--clr-warning-90);

	--clr-success-0: #e2faea;
	--clr-success-10: #b9f2cc;
	--clr-success-20: #85e9ab;
	--clr-success-30: #38e187;
	--clr-success-40: #00d86a;
	--clr-success-50: #00ce52;
	--clr-success-60: #00be47;
	--clr-success-70: #00aa3a;
	--clr-success-80: #00992e;
	--clr-success-90: #007819;
	--clr-success: var(--clr-success-30);

	--clr-info-0: #e2f6ff;
	--clr-info-10: #b5e7ff;
	--clr-info-20: #84d7ff;
	--clr-info-30: #54c7ff;
	--clr-info-40: #33baff;
	--clr-info-50: #21aeff;
	--clr-info-60: #209fef;
	--clr-info-70: #1f8cdb;
	--clr-info-80: #1d7bc7;
	--clr-info-90: #195aa4;
	--clr-info: var(--clr-info-50);

	//=========================================================
	//Components
	//=========================================================

	--accordion-content-text-color: var(--clr-base-70);

	--action-outline-border-color: var(--clr-base-90);
	--action-outline-text-color: var(--clr-base-90);
	--action-primary-background-color: var(--clr-base-90);
	--action-primary-text-color: var(--clr-base-0);

	--alert-box-error-background: var(--clr-error-30);
	--alert-box-error-border: var(--clr-error);
	--alert-box-information-background: var(--clr-info-30);
	--alert-box-information-border: var(--clr-info);
	--alert-box-success-background: var(--clr-success-10);
	--alert-box-success-border: var(--clr-success);
	--alert-box-warning-background: var(--clr-warning-70);
	--alert-box-warning-border: var(--clr-warning);

	--carousel-navigation-button-background-color: var(--clr-base-90);
	--carousel-navigation-button-text-color: var(--clr-base-0);
	--carousel-pagination-bullet-background-color: var(--clr-base-90);

	--checkbox-box-border-color: var(--clr-base-90);
	--checkbox-box-checked-state-background-color: var(--clr-base-90);
	--checkbox-icon-text-color: var(--clr-base-0);

	--info-box-error-background: var(--clr-error);
	--info-box-success-background: var(--clr-success);
	--info-box-warning-background: var(--clr-warning);
	--info-box-info-background: var(--clr-info);
	--info-box-primary-color: #ffffff;
	--info-box-secondary-color: #1e211e;

	--input-border-color: var(--clr-base-50);
	--input-disabled-border-color: var(--clr-disabled);
	--input-disabled-text-color: var(--clr-disabled);
	--input-error-background-color: var(--clr-error-0);
	--input-error-border-color: var(--clr-error);
	--input-warning-background-color: var(--clr-warning-0);
	--input-warning-border-color: var(--clr-warning);
	--input-success-background-color: var(--clr-success-0);
	--input-success-border-color: var(--clr-success);
	--input-info-background-color: var(--clr-info-0);
	--input-info-border-color: var(--clr-info);

	--input-label-disabled-text-color: var(--clr-disabled);
	--input-label-error-text-color: var(--clr-error);
	--input-label-warning-text-color: var(--clr-warning);
	--input-label-success-text-color: var(--clr-success);
	--input-label-info-text-color: var(--clr-info);

	--input-text-color: var(--clr-base-90);

	--label-text-color: var(--clr-base-70);

	--loader-box-background-color: var(--clr-base-90);

	--modal-background-color: rgba(0, 0, 0, 0.3);
	--modal-close-action-background-color: var(--clr-base-0);
	--modal-container-background-color: var(--clr-base-0);

	--notificationBox-error-border: var(--clr-error);
	--notificationBox-success-border: var(--clr-success);
	--notificationBox-warning-border: var(--clr-warning);
	--notificationBox-info-border: var(--clr-info);

	--progress-bar-bar-background-color: var(--clr-base-90);
	--progress-bar-border-color: var(--clr-base-90);

	--rhs-background-color: rgba(0, 0, 0, 0.3);
	--rhs-container-background-color: var(--clr-base-0);
	--rhs-toggle-action-background-color: var(--clr-base-0);

	--rhs-card-background-color: rgba(242, 242, 242, 1);

	--select-dropdown-background-color: var(--clr-base-0);
	--select-dropdown-option-focused-text-color: var(--clr-base-90);
	--select-dropdown-option-focused-background-color: rgba(244, 246, 244, 1);
	--select-dropdown-option-text-color: var(--clr-base-50);
	--select-icon-text-color: var(--clr-base-70);
	--select-trigger-action-border-color: var(--clr-base-50);
	--select-trigger-action-text-color: var(--clr-base-90);

	--slider-track-background-color: rgba(255, 255, 255, 0.3);

	--speaker-area-header-text-color: var(--clr-base-90);
	--speaker-area-image-border-color: var(--clr-base-0);
	--speaker-area-sub-header-text-color: var(--clr-base-70);

	--tabs-button-text-color: var(--clr-base-70);
	--tabs-button-active-text-color: var(--clr-base-90);
	--tabs-button-active-background-color: #f7f7f7;
	--tabs-carousel-border-color: var(--clr-disabled);

	--topic-pill-default-background-color: rgba(242, 242, 242, 1);
	--topic-pill-primary-background-color: #f2f2f2;
	--topic-pill-secondary-border-color: #f2f2f2;
	--topic-pill-default-text-color: rgba(117, 117, 117, 1);

	--video-bottom-bar-action-text-color: var(--clr-base-0);
	--video-bottom-bar-background-color: rgba(0, 0, 0, 0.8);
	--video-bottom-bar-text-color: var(--clr-base-0);

	--volume-controller-button-text-color: var(--clr-base-0);

	//=========================================================
	//Layouts
	//=========================================================

	--sessions-rhs-action-hover-background-color: #f5f5f5;

	--speaker-pill-background-color: rgba(30, 33, 30, 0.05);
	--speaker-pill-hover-background-color: rgba(30, 33, 30, 0.1);

	--event-card-speaker-text-color: var(--clr-base-70);
	--event-card-background-color: var(--clr-base-0);
	--event-card-descrption-text-color: var(--clr-base-50);
	--event-card-header-text-color: var(--clr-base-90);

	//=========================================================
	//Views
	//=========================================================

	--available-events-divider-background-color: var(--clr-base-90);
	--available-events-sub-header-text-color: var(--clr-base-70);

	--create-an-account-background-color: var(--primary-background-gradient);
	--create-an-account-content-area-background-color: var(--clr-base-0);
	--create-an-account-form-action-text-color: var(--clr-base-90);
	--create-an-account-form-header-text-color: var(--clr-base-90);
	--create-an-account-form-sub-header-text-color: var(--clr-base-70);

	--lobby-background-color: var(--primary-background-gradient);
	--lobby-content-area-background-color: var(--clr-base-0);
	--lobby-speaker-container-text-color: var(--clr-base-70);

	--sessions-background-color: var(--primary-background-gradient);
	--sessions-side-panel-background-color: var(--clr-base-0);

	--sign-in-background-color: var(--primary-background-gradient);
	--sign-in-content-area-background-color: var(--clr-base-0);
	--sign-in-forgot-password-action-text-color: var(--clr-base-90);
	--sign-in-form-action-text-color: var(--clr-base-90);
	--sign-in-form-header-text-color: var(--clr-base-90);
	--sign-in-form-sub-header-text-color: var(--clr-base-70);

	--reset-password-background-color: var(--primary-background-gradient);
	--reset-password-content-area-background-color: var(--clr-base-0);
	--reset-password-form-header-text-color: var(--clr-base-90);
	--reset-password-form-sub-header-text-color: var(--clr-base-70);

	--forgot-password-background-color: var(--primary-background-gradient);
	--forgot-password-content-area-background-color: var(--clr-base-0);
	--forgot-password-action-text-color: var(--clr-base-90);
	--forgot-password-action-sub-text-color: var(--clr-base-70);
	--forgot-password-form-action-text-color: var(--clr-base-90);
	--forgot-password-form-header-text-color: var(--clr-base-90);
	--forgot-password-form-sub-header-text-color: var(--clr-base-70);

	//=========================================================
	//Z Index
	//=========================================================

	--modalZIndex: 9;
	--rhsZIndex: 8;
	--selectDropboxZIndex: 7;
	--modal-close-action-z-index: 1;

	//=========================================================
	//View Sizing
	//=========================================================

	--view-padding-side: 1rem;
	--view-padding-vertical: 1rem;

	@include media(xl) {
		--view-padding-side: 9.375rem;
		--view-padding-vertical: 6.25rem;
	}
}
