.lesson-screen-stage {
	display: flex;
	align-items: center;
	justify-content: center;

	flex-grow: 1;
	transition: all 0.5s ease-in-out;

	&__box {
		display: flex;
		flex-direction: column;
		max-width: 640px;
	}
}
