.character-frame {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;

	width: var(--character-frame-size);
	height: var(--character-frame-size);

	outline: 2px dashed var(--character-frame-border-color);
	background-color: transparent;

	&--sm {
		width: var(--character-frame-size-sm);
		height: var(--character-frame-size-sm);
	}

	&--xs {
		width: var(--character-frame-size-xs);
		height: var(--character-frame-size-xs);
	}

	&--highlight {
		background-color: var(--character-frame-background-color-highlight);
	}

	&--faded {
		outline-color: var(--character-frame-border-color-faded);
		background-color: transparent !important;
	}

	&:hover,
	&:focus {
		background-color: var(--character-frame-background-color-focused);
	}

	&__characters {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2px;
	}

	&__character {
		font-size: var(--character-frame-font-size);
	}

	&__sub-character {
		font-size: var(--character-frame-sub-font-size);
		line-height: 100%;
	}

	&--xs &__character {
		font-size: var(--character-frame-font-size-xs);
	}
}

:root {
	--character-frame-size: 50px;
	--character-frame-size-sm: 25px;
	--character-frame-size-xs: 20px;

	--character-frame-font-size: 24px;
	--character-frame-font-size-xs: 16px;

	--character-frame-sub-font-size: 10px;

	--character-frame-border-color: var(--clr-base-300);
	--character-frame-border-color-faded: var(--clr-base-200);

	--character-frame-background-color-highlight: var(--clr-primary-50);
	--character-frame-background-color-focused: var(--clr-primary-300);
}
