@mixin buttonBackgroundColor($backgroundColor, $fontColor) {
	border-color: $backgroundColor;
	background-color: $backgroundColor;
	color: $fontColor;
}

.action {
	cursor: pointer;
	border-radius: 100px;
	line-height: 100%;
	font-weight: 700;
	border: 2px solid;

	@import "./action.sizes";
	@import "./action.states";
}
