.form-input {
	display: flex;
	flex-direction: column;
	gap: 4px;

	&__input {
		width: 100%;
		padding: 14px;
		font-size: 16px;
		line-height: 100%;
		font-weight: 400;
		background-color: var(--clr-white);
		color: var(--input-text-color, var(--clr-black));
		border-radius: 8px;
		border: 1.5px solid var(--form-input-border-color, var(--clr-base-100));
		outline: none;

		transition: box-shadow 0.2s ease-in-out;
	}

	&--focused {
		--form-input-border-color: var(--clr-primary-300);
	}

	&--focused &__input {
		box-shadow: 0px 0px 0px 3px var(--form-input-shadow-color, var(--clr-primary-50));
	}

	&--error {
		--form-input-border-color: var(--clr-error-200);
		--form-input-shadow-color: var(--clr-error-50);
	}

	&--warning {
		--form-input-border-color: var(--clr-warning-500);
		--form-input-shadow-color: var(--clr-warning-50);
	}

	&--success {
		--form-input-border-color: var(--clr-success-300);
		--form-input-shadow-color: var(--clr-success-50);
	}

	&--info {
		--form-input-border-color: var(--clr-info-300);
		--form-input-shadow-color: var(--clr-info-50);
	}

	&--disabled {
		--input-text-color: var(--clr-base-300);
		--form-input-border-color: var(--clr-base-50) !important;
		--form-input-shadow-color: transparent;
	}
}
